{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "generated/interfaces/**/*.ts",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
