html.dark {
  --background: #080c0e;
  --foreground: #f1f5f9;
  --primary: #113f50;
  --secondary: #0b191d;
  --tertiary: #182327;
  --icon: #2d96b3;
  --disabled: #515152;
  --gray-primary: #7d7f81;
  --gray-secondary: #c9ccce;

  --on-background: #000000;
  --on-foreground: #95caff;
  --on-primary: #0d6f92;
  --on-secondary: rgb(15, 43, 49);
  --on-tertiary: #23292b;

  --primary-text-color: #ffffff;
  --secondary-text-color: #000000;
  --subtitle-text-color: #a5a5a5;

  --primary-border-color: #364153;
  --secondary-border-color: #d1d5dc;

  --green-primary: #00a63e;
  --red-primary: #fb2c36;
  --yellow-primary: #e0dd12;
  --blue-primary: #0d6a8f;
}
