html.dark-purple {
  --background: #111122;
  --foreground: #ffffff;
  --primary: #4f46e5;
  --secondary: #1a1a33;
  --tertiary: #26253d;
  --icon: #5147ea;

  --on-background: #0c0c0c;
  --on-foreground: #d4a7ff;
  --on-primary: #7972fd;
  --on-secondary: #343466;

  --primary-text-color: #ffffff;
  --secondary-text-color: #111111;
  --subtitle-text-color: #acacac;
  
  --primary-border-color: #364153;
  --secondary-border-color: #d1d5dc;
}
