html.dark {
  --background: #080c0e;
  --foreground: #f1f5f9;
  --primary: #113f50;
  --secondary: #0b191d;
  --tertiary: #182327;
  --icon: #2d96b3;

  --on-background: #000000;
  --on-foreground: #95caff;
  --on-primary: #0d6f92;
  --on-secondary: rgb(15, 43, 49);

  --primary-text-color: #ffffff;
  --secondary-text-color: #000000;
  --subtitle-text-color: #a5a5a5;
}
