@import "tailwindcss";
@import "./styles/themes/dark.css";
@import "./styles/themes/light.css";
@import "./styles/themes/dark-purple.css";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-icon: var(--icon);
  --color-disabled: var(--disabled);
  --color-gray-primary: var(--gray-primary);
  --color-gray-secondary: var(--gray-secondary);

  --font-roboto: var(--font-roboto);
  --font-mono: var(--font-roboto-mono);

  --color-on-background: var(--on-background);
  --color-on-foreground: var(--on-foreground);
  --color-on-primary: var(--on-primary);
  --color-on-secondary: var(--on-secondary);
  --color-on-tertiary: var(--on-tertiary);

  --color-primary-text-color: var(--primary-text-color);
  --color-secondary-text-color: var(--secondary-text-color);
  --color-subtitle-text-color: var(--subtitle-text-color);

  --color-primary-border-color: var(--primary-border-color);
  --color-secondary-border-color: var(--secondary-border-color);

  --color-green-primary: var(--green-primary);
  --color-red-primary: var(--red-primary);
}

/* Base styles */
body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-roboto), sans-serif;
}
